*{
    box-sizing: border-box;
    margin: 0;
}

body{
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Livvic', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h1,p{
    text-align: center;
    color: #E53170;
    margin: 30px;
}

.all-cards{
    background-color: salmon;
    color: rgb(255, 255, 255);
}

.card-1{
width: 100%;
height: 100px;
background-color: black;
box-shadow: 0 0 10px 1px rgb(0, 0, 0);
}

.info{
    padding: 15px;
    float: right;
}

.name{
    font-weight: 800;
}

a{
    color: #3990B6;
    text-decoration: none;
}

img{
    height: 100px;
    float: left;
}

.col{
    padding: 20px;
    width:calc(100% / 3);
    float: left;
}